@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}

#navbar::before {
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

/* Navigation Bar: Logo and Image */
#logo { 
    margin: 5px 22px;
}

#logo img {
    height: 56px;
    margin: 10px 12px;
    border-radius: 30px;
}

/* Navigation Bar: List Styling  */
/* #navbar {
  
} */ 

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.8rem;
}

#navbar ul li a {
    color: #fff;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 538px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('../assets/pexels-ray-piedra-1565982.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 630px;
    width: 100%;
    z-index: -1;
    opacity: .89;
}

#home h1 {
    color: #fff;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section  */
#services {
    margin: 40px;
    display: flex;
}

#services .box {
    padding: 34px;
    margin: 25px 55px;
    border-radius: 25px;
    background: #f2f2f2;
    border: 2px solid brown;
    margin-bottom: 20px;
}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
    
}

#services .box p {
    font-family: 'Bree Serif', serif;
}

/* Client Section */
#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../assets/background-2068215_1280.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 25px;
}

#clients img {
    height: 70px;
}

/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    background: url('../assets/contact-us-2993000_1280.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: .5rem;
    border-radius: 8px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

footer {
    background: #000;
    color: #fff;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid #fff;
    background-color: brown;
    color: #fff;
    margin: 17px;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}



